footer{
    background-image: linear-gradient(rgb(105, 105, 231),rgb(221, 99, 221));
}

.footer{
    
    display: flex;
    justify-content: space-between;
    padding: 10vh 3vw;
}

.footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.footer ul li{
    color: rgb(26, 13, 13);
    list-style: none;
    cursor: pointer;
}

.footer ul li:hover{
    color: rgb(3, 11, 17);
    transform: scaleX(1.1);
    transition: 0.5s ease-in-out;
}

footer hr{
    color: rgb(1, 9, 15);
}

footer p{
    color: rgb(1, 8, 14);
    margin: 0;
    text-align: center;
    padding-bottom: 3vh;
}